<html>

<head>
    <title>Upload Marks </title>
    <style>
        .Semester {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 10px;
            border: 2px solid rgb(126, 13, 32);
            border-radius: 8px;
            background: #fcfae5;
            display: none;
        }

        .Isem,
        .IIsem {
            margin: 10px;
            border: 2px solid rgb(126, 13, 32);
            border-radius: 8px;
        }

        .container,
        .lbl {
            margin-top: 20px;
            margin: 10px;
        }

        .Semester h2 {
            display: flex;
            justify-content: center;
        }

        .Semester div span {
            margin-left: 50%;
            font-weight: normal;
        }

        .txtbox {
            /* align : left; */
            align-items: left;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: #65aee2;
            margin: 4px 2px;
        }

        .btn:hover {
            box-shadow: 0px 12px 16px 0 palegoldenrod, 0 17px 50 px 0 palegoldenrod;
        }

        .btnclass {
            float: center;
            justify-self: center;
            align-items: center;
        }

        .centered-text {
            margin-left: 40%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(105, 26, 7);

        }

        .select-box {
            margin-left: 20%;
            margin-top: -2.5%;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("select").change(function () {
                $(this).find("option:selected").each(function () {
                    var opt = $(this).attr("value");
                    if (opt) {
                        $(".Semester").not("." + opt).hide();
                        $("." + opt).show();
                    } else {
                        $(".Semester").hide();
                    }
                });
            }).change();
        });
    </script>
</head>

<body>
    <form>
        <h2 class="centered-text">Upload Marks </h2>

        <script>
            function populate(s1, s2) {
                var s1 = document.getElementById(s1);
                var s2 = document.getElementById(s2);
                s2.innerHTML = "";
                if (s1.value == "mca") {
                    var optionArray = ["Select Semester|Select Semester", "I|I", "II|II", "III|III", "IV|IV", "V|V",
                        "VI|VI"
                    ];
                } else if (s1.value == "btech") {
                    var optionArray = ["Select Semester|Select Semester", "I|I", "II|II", "III|III", "IV|IV", "V|V",
                        "VI|VI", "VII|VII", "VIII|VIII"
                    ];
                } else {
                    var optionArray = ["Select Semester|Select Semester"];
                }
                for (var option in optionArray) {
                    var pair = optionArray[option].split("|");
                    var newOption = document.createElement("option");
                    newOption.value = pair[0];
                    newOption.innerHTML = pair[1];
                    s2.options.add(newOption);
                }
            }
        </script>
        <br>
        <div class="centered-text">Department :
            <div class="select-box"> <select id=" slct1" name="slct1" onchange="populate(this.id,'slct2')">
                    <option>Select Department </option>
                    <option value="mca">MCA</option>
                    <option value="btech">BTech</option>
                </select>
            </div>
        </div>
        <br>
        <div class="centered-text">Semester:

            <div class="select-box"> <select id="slct2" name="slct2">
                    <option>Select Semester</option>
                </select>
            </div>
        </div>
        <br>
        </select>
        <br><br>

        <div class="I Semester">
            <h2><b>I Semester</b></h2>
            <div id="First" class="Isem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 1: </label>
                    <input type="text" value="" name="sub1" class="txtbox">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="subcode" class="txtbox">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Second" class="Isem">
                <label class="lbl"><b>Subject: </b></label>
                <div class="container">
                    <label>Subject 2: </label>
                    <input type="text" value="" name="sub2">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="subcode">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Third" class="Isem">
                <label class="lbl"><b>Subject: </b></label>
                <div class="container">
                    <label>Subject 3:</label>
                    <input type="text" value="" name="sub3">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="subcode">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Forth" class="Isem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 4:</label>
                    <input type="text" value="" name="sub4">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="subcode">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Fifth" class="Isem">
                <label class="lbl"><b>Subject: </b></label>
                <div class="container">
                    <label>Subject 5: </label>
                    <input type="text" value="" name="sub5">
                    <span>
                        <label>Subject code:</label>
                        <input type="text" value="" name="subcode">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Sixth" class="Isem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 6: </label>
                    <input type="text" value="" name="sub6">
                    <span>
                        <label>Subject Code</label>
                        <input type="text" value="" name="subcode">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Seven" class="Isem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 7:</label>
                    <input type="text" value="" name="sub7">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="subcode">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
                <br><br>
            </div>
        </div>
        </div>

        <div class="II Semester">
            <h2><b>II Semester</b></h2>
            <div id="First" class="IIsem">
                <label class="lbl"><b>Subject: </b></label>
                <div class="container">
                    <label>Subject 1: </label>
                    <input type="text" value="" name="sub1" class="txtbox">
                    <span>
                        <label>Subject Code</label>
                        <input type="text" value="" name="sub2" class="txtbox">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Second" class="IIsem">
                <label class="lbl"><b>CA3201 : <Object>Subject: </Object></b></label>
                <div class="container">
                    <label>Subject 2: </label>
                    <input type="text" value="" name="">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Third" class="IIsem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 3: </label>
                    <input type="text" value="" name="">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Forth" class="IIsem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 4: </label>
                    <input type="text" value="" name="">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Fifth" class="IIsem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 5: </label>
                    <input type="text" value="" name="">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Sixth" class="IIsem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 6: </label>
                    <input type="text" value="" name="">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
            </div>
            <br><br>

            <div id="Seven" class="IIsem">
                <label class="lbl"><b>Subject:</b></label>
                <div class="container">
                    <label>Subject 7: </label>
                    <input type="text" value="" name="">
                    <span>
                        <label>Subject Code:</label>
                        <input type="text" value="" name="">
                    </span>
                </div>
                <form action="/action_page.php">
                    <label for="birthday">Exam Date:</label>
                    <input type="date" id="examdate" name="examdate">
                    <input type="submit">
                </form>
                <br><br>
            </div>
        </div>
        </div>
        <div class="btnclass">
            <button type="save" class="btn">Save</button>
        </div>
    </form>

</body>

</html>